{% extends 'base.html' %} {% block body %}
<style>
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }

  .container {
    max-width: 1000px;
    margin: 10px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  h1 {
    text-align: center;
    color: #333;
  }

  .form-group {
    margin-bottom: 20px;
  }

  label {
    display: block;
    margin-bottom: 5px;
    color: #555;
  }

  input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #0056b3;
  }

  .result {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  .result h2 {
    color: #333;
  }

  .result p {
    color: #555;
  }
/* Add this to your existing CSS styles */
.result {
  margin-top: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.result-title {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

.result-details {
  margin-left: 20px;
}

.record-type {
  margin-bottom: 20px;
}

.record-type h3 {
  color: #555;
  font-size: 18px;
  margin-bottom: 5px;
}

.record-list {
  list-style: none;
  padding-left: 0;
}

.record-list li {
  color: #777;
  font-size: 16px;
  margin-left: 20px;
}
.progress-container {
    width: 100%;
    background-color: #ddd;
    border-radius: 4px;
    margin-bottom: 20px;
  }

  .progress-bar {
    width: 0%;
    height: 20px;
    background-color: #007bff;
    border-radius: 4px;
    transition: width 0.3s ease-in-out;
  }

</style>
<div class="container">
    <h1>Website Scanner</h1>
    <!-- Form start -->
    <form id="scanForm" action="" method="POST">
      {% csrf_token %}
      <div class="form-group">
        <label for="websiteUrl">Enter Website URL:</label>
        <input
          type="text"
          id="websiteUrl"
          name="websiteUrl"
          placeholder="example.com"
          required
        />
      </div>
      <input type="submit" value="Scan" />
    </form>
    <!-- Form end -->
    <br />
    <!-- Scan Results -->
    <div class="result" id="scanResult" style="display: none">
      <h1 class="mt-5 mb-4">Scan Results</h1>
      <!-- prgress -->
      <div class="progress-container" id="progressContainer" style="display: none">
        <div class="progress-bar" id="progressBar"></div>
      </div>
      <!-- if tool is ALL API -->
    {% if tool == 'allinone' %}
    <h1>Domain Information for <b>{{ domain_data.domain }}<b></h1>
    
      <h2>Related Domains:</h2>
      <ul>
          {% for related_domain in domain_data.related_domains %}
              <li><b>{{ related_domain }}<b></li>
          {% endfor %}
      </ul>
      
      <h2>DNS Information:</h2>
      <ul>
          <li>A Records: <b>{{ domain_data.dns.a }}<b></li>
          <li>TXT Records: <b>{{ domain_data.dns.txt }}<b></li>
          <li>Zone: <b>{{ domain_data.dns.zone }}<b></li>
          <li>NS Records: <b>{{ domain_data.dns.ns }}<b></li>
          <li>MX Records: <b>{{ domain_data.dns.mx }}<b></li>
          <li>AAAA Records: <b>{{ domain_data.dns.aaaa }}<b></li>
      </ul>
      
      <h2>Whois Information:</h2>
      <ul>
          <li>Registrar: <b>{{ domain_data.whois.server }}<b></li>
          <li>Registration Date: <b>{{ domain_data.whois.created_date }}<b></li>
          <li>Last updated: <b>{{ domain_data.whois.last_updated }}<b></li>
          <li>Expiration Date: <b>{{ domain_data.whois.expiration_date }}<b></li>
          <li>Name Server: <b>{{ domain_data.whois.name_servers }}<b></li>
  
              <ul>
                  <h3>Technical</h3>
                  <li>country: <b>{{ domain_data.whois.technical.country }} </li>
                  <li>province: <b>{{ domain_data.whois.technical.province }}<b></li>
                  <li>phone<b>: {{ domain_data.whois.technical.phone }}<b></li>
                  <li>city<b>: {{ domain_data.whois.technical.city }}<b></li>
                  <li>street: <b>{{ domain_data.whois.technical.street }}<b></li>
                  <li>organization: <b>{{ domain_data.whois.technical.organization }}<b></li>
                  <li>name: <b>{{ domain_data.whois.technical.name }}<b></li>
                  <li>id<b>: {{ domain_data.whois.technical.id }}<b></li>
                  <li>postal_code: <b>{{ domain_data.whois.technical.postal_code }}<b></li>
                  <li>email: <b>{{ domain_data.whois.technical.email }}<b></li>
              </ul>
              <ul>
                  <h3>Registrar</h3>
                  <li>phone: <b>{{ domain_data.whois.registrar.phone }} </li>
                  <li>referral_url: <b>{{ domain_data.whois.registrar.referral_url }}<b></li>
                  <li>name<b>: {{ domain_data.whois.registrar.name }}<b></li>
                  <li>id<b>: {{ domain_data.whois.registrar.id }}<b></li>
                  <li>email: <b>{{ domain_data.whois.registrar.email }}<b></li>
              </ul>
          <!-- Add more whois information as needed -->
      </ul>
      
      <h2>Software Information:</h2>
      <ul>
          {% for software_info in domain_data.software %}
              <li><b>{{ software_info.uri }}<b></li>
              <ul>
                  {% for tag_info in software_info.tag %}
                      <li><b>{{ tag_info.fullname }}<b> - <b>{{ tag_info.description }}<b></li>
                  {% endfor %}
              </ul>
          {% endfor %}
      </ul>
      <h2>Ports Information:</h2>
      <ul>
          {% for port_info in domain_data.ports %}
              <li>Protocol: <b>{{ port_info.protocol }}</b>, Port: <b>{{ port_info.port }}</b></li>
          {% endfor %}
      </ul>
      
      <h2>Related Domains Query:</h2>
      <p>{{ domain_data.related_domains_query }}</p>
      {% endif %}
            <!-- if tool is dnsresolvertool -->
{% if tool == 'dnsresolvertool' %}
<div class="result">
  <h2 class="result-title">DNS Resolver Results:</h2>
  <div class="result-details">
    {% for record_type, records in dns_results.items %}
    <div class="record-type">
      <h3>{{ record_type }}</h3>
      <ul class="record-list">
        {% for record in records %}
        <li>{{ record }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}
      <!-- if tool is portscanner -->
      {% if tool == 'portscanner' %}
      {% if open_ports %}
      <div class="mb-4">
        <h2>Open ports and associated vulnerabilities:</h2>
        <ul class="list-group">
          {% for port, service in open_ports.items %}
          <li class="list-group-item">
            Port {{ port }} <br />
            {{ service }}
          </li>
          {% endfor %}
        </ul>
      </div>
      {% else %}
      <div class="alert alert-success" role="alert">No open ports found.</div>
      {% endif %}
      {% endif %}
      <!-- if tool is waf -->
      {% if tool == 'waf' %}
      {% if is_cloudflare is not None %}
      {% if is_cloudflare %}
      <h3>The website is using Cloudflare.</h3>
      {% else %}
      <h3>The website is not behind Cloudflare.</h3>
      {% endif %}
      {% endif %}
      {% endif %} <!-- Add the missing endif tag here -->
      <!-- Display error message if any -->
      {% if error_message %}
      <div class="alert alert-danger" role="alert">{{ error_message }}</div>
      {% endif %}
    </div>
  </div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var scanResult = document.getElementById("scanResult");
    scanResult.style.display = "block";
  });
</script>
{% endblock %}
