<div class="sidebar">
    <a href="{% url 'index' %}?tool=allinone" class="sidebar-link">SafeSecureAudit360</a>
    <a href="{% url 'index' %}?tool=dnsresolvertool" class="sidebar-link">DNS RESOLVER </a>
    <a href="{% url 'index' %}?tool=dnslookuptool" class="sidebar-link">LOOKUP DEEP</a>
    <a href="{% url 'index' %}?tool=reversednstool" class="sidebar-link">Reverse DNS LookUp</a>
    <a href="{% url 'index' %}?tool=waf" class="sidebar-link">WAF CHECKER</a>
    <a href="{% url 'index' %}?tool=portscanner" class="sidebar-link">PORT SCAN TOOL</a>
    <div class="dropdown">
      <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Learning
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="{% url 'index' %}?tool=Arbitrary_File_Upload">Arbitrary_File_Upload</a>
        <a class="dropdown-item" href="{% url 'index' %}?tool=CRLF_Injection">CRLF_Injection</a>
        <a class="dropdown-item" href="{% url 'index' %}?tool=csrf">csrf</a>
        <a class="dropdown-item" href="{% url 'index' %}?tool=xss">Cross Site Scripting</a>
        <a class="dropdown-item" href="{% url 'index' %}?tool=dos">Denial of Services</a>
        <a class="dropdown-item" href="{% url 'index' %}?tool=ExposedSourceCode">Exposed Source Code</a>
        <a class="dropdown-item" href="{% url 'index' %}?tool=HostHeaderInjection">Host Header Injection</a>
        <a class="dropdown-item" href="{% url 'index' %}?tool=InsecureDirectObjectReferences">Insecure Direct Object References</a>
      </div>
    </div>
  </div>
  <!-- Content -->
  <div class="content">{% block body %} {% endblock %}</div>